@page
@model ChalkboardChat.UI.Pages.Account.RegisterModel
@{
}

<form method="post">
    <input type="text" placeholder="Username" asp-for="Username" />
    <input type="password" placeholder="Password" asp-for="Password" />
    <input type="submit" value="Register" />
</form>