@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-page="/Account/Login">Log in</a>
<a asp-page="/Account/Register">Register new user</a>

@if(@Model.SignedInUser != null){
<a asp-page="/Message/MessageBoard">Message Board</a>
}
